buoi4_NguyenPhucKhang/bài 3/QUANAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/quanan"
           xmlns="http://www.example.com/quanan"
           elementFormDefault="qualified">

    <xs:simpleType name="usernameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="passwordType">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="sdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0\d{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="BAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TENBAN" type="xs:string"/>
                <xs:element name="SOBAN" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="NHANVIEN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MANV" type="xs:string"/>
                <xs:element name="TENNV" type="xs:string"/>
                <xs:element name="SDT" type="sdtType"/>
                <xs:element name="DIACHI" type="xs:string"/>
                <xs:element name="GIOITINH" type="xs:string"/>
                <xs:element name="USERNAME" type="usernameType"/>
                <xs:element name="PASSWORD" type="passwordType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MON">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MAMON" type="xs:string"/>
                <xs:element name="TENMON" type="xs:string"/>
                <xs:element name="GIA" type="xs:float"/>
                <xs:element name="HINHANH" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="HOADON">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SOHD" type="xs:integer"/>
                <xs:element name="NGAYLAP" type="xs:date"/>
                <xs:element name="TONGTIEN" type="xs:float"/>
                <xs:element name="MANV" type="xs:string"/>
                <xs:element name="SOBAN" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="THANHTOAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SOHD" type="xs:integer"/>
                <xs:element name="MAMON" type="xs:string"/>
                <xs:element name="SOLUONG" type="xs:integer"/>
                <xs:element name="THANHTIEN" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BAN" maxOccurs="unbounded"/>
                <xs:element ref="NHANVIEN" maxOccurs="unbounded"/>
                <xs:element ref="MON" maxOccurs="unbounded"/>
                <xs:element ref="HOADON" maxOccurs="unbounded"/>
                <xs:element ref="THANHTOAN" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        
        <xs:key name="PK_BAN">
            <xs:selector xpath="BAN"/>
            <xs:field xpath="SOBAN"/>
        </xs:key>
        
        <xs:key name="PK_NHANVIEN">
            <xs:selector xpath="NHANVIEN"/>
            <xs:field xpath="MANV"/>
        </xs:key>
        
        <xs:key name="PK_MON">
            <xs:selector xpath="MON"/>
            <xs:field xpath="MAMON"/>
        </xs:key>
        
        <xs:key name="PK_HOADON">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOHD"/>
        </xs:key>
        
        <xs:keyref name="FK_HOADON_NHANVIEN" refer="PK_NHANVIEN">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="MANV"/>
        </xs:keyref>
        
        <xs:keyref name="FK_HOADON_BAN" refer="PK_BAN">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOBAN"/>
        </xs:keyref>
        
        <xs:keyref name="FK_THANHTOAN_HOADON" refer="PK_HOADON">
            <xs:selector xpath="THANHTOAN"/>
            <xs:field xpath="SOHD"/>
        </xs:keyref>
        
        <xs:keyref name="FK_THANHTOAN_MON" refer="PK_MON">
            <xs:selector xpath="THANHTOAN"/>
            <xs:field xpath="MAMON"/>
        </xs:keyref>
    </xs:element>

</xs:schema>